<patTemplate:tmpl name="kunena-header">
<!--[if IE 6]>
<script>
  /* EXAMPLE */
  DD_belatedPNG.fix('img, .png, a, .td-2, .fb_profileboxcnt');
  
  /* string argument can be any CSS selector */
  /* .png_bg example is unnecessary */
  /* change it to what suits you! */
</script>
<![endif]-->  
<!-- closed in footer.html -->
<div id="Kunena_wrapper">
<div id="Kunena">
{OFFLINE_MESSAGE}





<table width="100%" border="0" cellspacing="0" cellpadding="0" id="Kunena_top">
  <tr>
    <td align="left" nowrap="nowrap">{MENU}</td>
    <td align="right" width="5%">{SEARCHBOX}</td>
     <td align="right" width="1%" ><img id="BoxSwitch_topprofilebox__topprofilebox_tbody"  class="hideshow"  src="{PB_IMGSWITCHURL}" alt="" /></td>
  </tr>
</table> 

</patTemplate:tmpl>
