#roksearch_search_str {padding: 4px 0 4px 6px;font-size: 100%;margin: 0;border:0;}
#roksearch_search_str.loading {background: transparent url(../images/spinner.gif) no-repeat scroll 98% 50%}
#roksearch_results {}
#roksearch_results a#roksearch_link {float: right;padding-right: 5px;margin-top: 4px;display: block;height: 16px;width: 16px;}
#roksearch_results h3 a{color:#9C5352;font-size:80%;}
#roksearch_results h3{}
#roksearch_results span {}
#roksearch_results .container-wrapper {overflow: hidden;}
#roksearch_results .page {float: left;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {padding: 6px 15px;line-height: 100%;font-weight: normal;font-size: 100%;}
#roksearch_results .roksearch_row_btm {overflow: hidden;}
#roksearch_results .roksearch_row_btm span {line-height: 140%;}
#roksearch_results .small a{color: red;font-size: 80%;margin-left: 4px;}
#roksearch_results .small {margin-top: 6px;}
#roksearch_results span.highlight {display: inline;padding:2px;}
#roksearch_results a.clr {font-size: 100%;}
#roksearch_results a:hover {text-decoration: none; color:#000;}
#roksearch_results a:hover span{text-decoration: none; color:#000 !important;}
#roksearch_results a {text-decoration: none;}
#roksearch_results .roksearch_result_wrapper1{width:50%;float:left;}
#roksearch_results a.mustardbutton {color: #000000;
    margin-bottom: 14px;
    padding: 6px;}
#roksearch_results .roksearch_odd {padding: 15px;position: relative;}
#roksearch_results .roksearch_even {padding: 15px;position: relative;}
#roksearch_results .roksearch_odd-hover h3, #roksearch_results .roksearch_even-hover h3 {}
.results ol.list {padding-left: 30px;margin-top: 0;}
.results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;}
.results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.results ol.list li p {margin-top: 0;}
#roksearch_results .container-arrows {height: 16px;width: 40px;float: left;margin-right: 10px;position: relative;}
#roksearch_results .arrow-left {width: 16px;height: 16px;position: absolute;bottom: 0;left: 0;cursor: pointer;}
#roksearch_results .arrow-left-disabled {width: 16px;height: 16px;position: absolute;bottom: 0;left: 0;}
#roksearch_results .arrow-right {width: 16px;height: 16px;position: absolute;bottom: 0;left: 22px;cursor: pointer;}
#roksearch_results .arrow-right-disabled {width: 16px;height: 16px;position: absolute;bottom: 0;left: 22px;}
#roksearch_results .searchResultThumb img{margin:0 12px 0 0;-moz-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;border-radius:0px 0px 0px 0px; height:75px;}
form.search_result .inputbox {padding: 4px;}
form.search_result fieldset legend {padding-top: 10px;}
fieldset.phrase, fieldset.word, fieldset.only {padding: 10px 2px;}
.searchintro {margin-bottom: 10px;overflow: hidden;}

#roksearch_results .videotime {float:none;
    position: absolute;
    right: 27px;
    bottom: 38px;
}
#jquery-live-search {
	background: #fff;
	max-height: 400px;
	overflow: auto;

	position: absolute;
	z-index: 99;

	border: 1px solid #A9A9A9;
	border-width: 0 1px 1px 1px;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
