/*text with input box padding style*/
div#whatrudiv1{
  padding-top: 5px;
  padding-bottom: 5px;
}

/*main text padding style*/
div#whatrudiv2{
  padding-top: 5px;
  padding-bottom: 5px;
}

/*text with input box style*/
div#whatrudiv1 h3{
display: inline;    
font-size: 16px;
color: black;
}

/*main text style*/
div#whatrudiv2 h3{
display: inline;    
font-size: 16px;
color: black;
}

/*time ago text style*/
div#whatrudiv2 h5{
display: inline;   
font-size: 9px;
color: black;
}