/*****************************/
/*** Core html setup stuff ***/
/*****************************/

html {
  height: 100%;
  margin-bottom: 1px;
}

form {
  margin: 0;
  padding: 0;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
}

input.button { cursor: pointer; }

p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/
#page_bg {
	margin-bottom: 1px;
}

div.center {
  text-align: center;
}

div#wrapper {
}

body.width_medium div#wrapper {
	width: 950px;
}

body.width_small div#wrapper {
	width: 773px;
}

body.width_fmax div#wrapper, #headerwrapper {
	min-width: 750px;
	max-width: 1050px;
}

div#header_l {
	position: relative;
}

div#header_r {
	height: 90px;
	float:right;
	overflow: hidden;
	text-align: left;
}

div#logo {
	width: 368px;
	height: 86px;
	background: url(../images/logo.png) 0 0 no-repeat;
	margin-left: 5px;
	margin-top: 5px;
}
div#logo a{
	width: 368px;
	height: 86px;
	display:inline-block;
}

div#logo a:hover{
	text-decoration:none;
}

div#logo a span{
	visibility:hidden;
	
}

div#newsflash {
	width: auto;
	margin-left: 350px;
	margin-right: 30px;
	border: 1px solid #00f;
}

div#tabarea {
	background: #fff;
	margin: 0 0 0 6%;
	clear:both;

}

div#tabarea_l {
	background: #fff;
}

div#tabarea_r {
	/*height: 42px;*/
	background: #fff;
	padding-right: 1px;
	text-align: left !important;
}

div#footer{
	padding: 10px 0 10px 0;
	overflow: hidden;
	}
	
div#footer ul{margin:0;padding:0;background:red;}
div#footer ul li{padding-right:20px;border-right:1px solid #fff;list-style:none; display:inline-block;color:#fff; margin-left:12px;}	
div#footer ul li a span{ font-weight:bold;}
div#footer ul li:last-child{border-right:none;}

div#footer_r {
	margin-left:10%;
}

div#footer_r div {
	text-align: center;
	font-size: .90em;
	width:100%;
	color: #aaa;
}

div#footer a:link, div#footer_r a:visited  {
	color: #fff;
}

div#footerspacer {
	height: 10px;
}



#pathway {
	padding: 0px 10px 8px;
	width: auto;
	margin-top: -2px;
	margin-right: 250px;
	text-align: left;
}

#search {/*
	float: right;
	width:320px;
	margin-top: -20px;
	margin-right: 30px;
	height: 40px;
	overflow: hidden;
	text-align:right;
	*/
	clear:both;
	position: relative;
}


#search form button.button {
margin:0 0 0 2px;
background:none repeat scroll 0 0 transparent;
border:0 none;
cursor:pointer;
margin:0;
overflow:visible;
padding:0;
vertical-align:middle;
}

#search a.button, button.button span {
background-position:0 0;
border:0 none;
color:#C73615;
cursor:pointer;
display:inline-block;
height:21px;
margin:0;
padding:0 0 0 10px;
text-decoration:none;
}

#search a.button, button.button span, a.button span, button.button span span {
background-color:transparent;
background-image:url("../images/bkg_btn.gif");
background-repeat:no-repeat;
}

a.button span, button.button span span {
background-position:100% 0;
color:#C73615;
display:inline-block;
font:bold 11px/20px Arial,Helvetica,sans-serif;
height:20px;
padding:0 15px 1px 5px;
text-transform:uppercase;
white-space:nowrap;
}



form#searchForm input {
	vertical-align: middle;
}

form#searchForm table {
	border-collapse: collapse;
}

form#searchForm td {
	padding:0;
}

#mod_search_searchword {
	padding-left: 3px;
}

#area {
	padding: 0;
}

#whitebox {
	background: #fff;
	width: auto;
}


#whitebox .whiteboxHeader{
    border-radius: 9px 9px 0 0;
    margin: 0 10px;
    padding: 4px 4px 4px 50px;
    background: url(../images/mail_envelope.png) 3% 0 no-repeat Lavender;
    border:1px solid #ccc;
    border-bottom:none;
}


#whitebox .facefans{
background:url("../images/small_facebook_icon.png") no-repeat scroll 4% 52% Lavender;
}

#whitebox .beingwatched{
background:url("../images/face-glasses.png") no-repeat scroll 4% 52% Lavender;
}

#whitebox .adverts{
background:url("../images/megaphone.png") no-repeat scroll 4% 52% Lavender;
}

#whitebox .tweeter{
background:url("../images/tweeter-icon.png") no-repeat scroll 4% 52% Lavender;
}

#whitebox .donate{
background:url("../images/donate.png") no-repeat scroll 4% 52% Lavender;
}

#whitebox .random{
background:url("../images/random.png") no-repeat scroll 4% 50% Lavender;
}

#whitebox .followus{
background:url("../images/followus.png") no-repeat scroll 4% 50% Lavender;
}
#whitebox .community{
background:url("../images/communityicon.png") no-repeat scroll 4% 50% Lavender;
}



#whitebox .whiteboxHeader div{
	padding:5px 5px 0 5px;
	
	
}

#whitebox .whiteboxHeader div h6{
	font-size: 110%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #CCCCCC;
}

#whitebox div {
	text-align: left;
}

#whitebox_t {
	background: #fff url(../images/mw_content_t.png) 0 0 repeat-x;
}

#whitebox_tl {
	background: url(../images/mw_content_t_l.png) 0 0 no-repeat;
}

#whitebox_tr {
	height: 10px;
	overflow: hidden;
	background: url(../images/mw_content_t_r.png) 100% 0 no-repeat;
}

#whitebox_m {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: auto;
	padding: 12px 8px 1px 8px;
}

#whitebox_b {
	margin-top: -5px;
	background: url(../images/mw_content_b.png) 0 100% repeat-x;
}

#whitebox_bl {
	background: url(../images/mw_content_b_l.png) 0 100% no-repeat;
}

#whitebox_br {
	height: 13px;
	background: url(../images/mw_content_b_r.png) 100% 100% no-repeat;
}


#redbox {
	margin: 0 21px 0px 21px;
	background: #fff;
	width: auto;
	border: 1px solid #c1c1c1;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 2px #aaaaaa;
}

#redbox div {
	text-align: left;
}
/*
#redbox_t {
	background: #fff url(../images/mw_red_content_t.png) 0 0 repeat-x;
}
* */
#footer #redbox_t {
	background: #fff url(../images/mw_red_content_t_footer.png) 0 0 repeat-x;
}
/*
#redbox_tl {
	background: url(../images/mw_red_content_t_l.png) 0 0 no-repeat;
}
* */
#footer #redbox_tl {
	background: url(../images/mw_red_content_t_l_footer.png) 0 0 no-repeat;
}
/*
#redbox_tr {
	height: 10px;
	overflow: hidden;
	background: url(../images/mw_red_content_t_r.png) 100% 0 no-repeat;
}
* * */
#footer #redbox_tr {
	height: 8px;
	overflow: hidden;
	background: url(../images/mw_red_content_t_r_footer.png) 100% 0 no-repeat;
}

#redbox_m {
	/*border-left: 1px solid #ff0000;
	border-right: 1px solid #ff0000;*/
	width: auto;
	padding: 1px 8px;
}

#footer #redbox_m {
background:red;
}

#footer #redbox div {
	text-align: center;
}

#footer #redbox_m ul.menu li a{
color:white;
}

#footer #redbox_m ul.menu li a:hover{
text-decoration:underline;
}

#footer #redbox_b {
	margin-top: -5px;
	background: url(../images/mw_red_content_b_footer.png) 0 100% repeat-x;
}
/*
#redbox_b {
	margin-top: -5px;
	background: url(../images/mw_red_content_b.png) 0 100% repeat-x;
}
*/
#footer #redbox_bl {
	background: url(../images/mw_red_content_b_l_footer.png) 0 100% no-repeat;
}
/*
#redbox_bl {
	background: url(../images/mw_red_content_b_l.png) 0 100% no-repeat;
}*/
#footer #redbox_br {
	height: 13px;
	background: url(../images/mw_red_content_b_r_footer.png) 100% 100% no-repeat;
}
/*
#redbox_br {
	height: 13px;
	background: url(../images/mw_red_content_b_r.png) 100% 100% no-repeat;
}
* */

/* horizontal pill menu */

#navigation {

font-size:1.1em;
margin-top:1em;
padding-top:0.6em;
}
#navigation ul, #navigation ul li {
list-style:none outside none;
margin:0;
padding:0;
}
#navigation ul {
padding:5px 0 0 0;
}
#navigation ul li {
display:inline;
margin-right:0.75em;
overflow: auto;
width: 100%;
}
#navigation ul li.last {
margin-right:0;
margin-left:39px;
}


#navigation ul li.lastmaintab {
margin-left: 21%;
}


#navigation ul li a {
background:url("../images/tab-right.gif") no-repeat scroll 100% 0 transparent;
color:#000;
text-shadow: 0px 2px 2px #fff;
padding:5px 0;
margin: 0;
text-decoration:none;
}

#navigation ul li a#active_menu-nav {
background:url("../images/tab-right-selected.gif") no-repeat scroll 100% 0 transparent;
color:#fff;
text-shadow: 0px 3px 3px #000;
padding:5px 0;
text-decoration:none;
margin: 0;
}

#navigation ul li.lastmaintab a {
background:url("../images/tab-right-last.gif") no-repeat scroll 100% 0 transparent;
color:#fff;
text-shadow: 0px 2px 2px #000;
padding:5px 0;
text-decoration:none;
margin: 0;
}

#navigation ul li img {
	float: left;
    height: 24px;
    margin: -4px 0 0;
    position: relative;
    width: 24px;
    z-index: 1;
}

#navigation ul li a span span {
background:url("../images/tab-left.gif") no-repeat scroll 0 0 transparent;
padding:5px 1em 5px 3em;
}

#navigation ul li a:hover span span{
text-decoration:underline;
}

#navigation ul li a#active_menu-nav span span {
background:url("../images/tab-left-selected.gif") no-repeat scroll 0 0 transparent;
padding:5px 1em 5px 3em;
}


#navigation ul li.lastmaintab a span span{
background:url("../images/tab-left-last.gif") no-repeat scroll 0 0 transparent;
padding:5px 1em 5px 3em;
}
#navigation ul li a#active_menu-nav:hover span span{
text-decoration:underline;
}


/* ICONS STYLES */
#navigation ul li a span.homeicon {
	padding: 6px 0;
}
#navigation ul li#tab0 span.homeicon{
background: url(../images/home.png) 14% 52% no-repeat;
}

#navigation ul li#tab0:hover span.homeicon{
background: url(../images/home-over.png) 14% 52% no-repeat;
}

#navigation ul li#tab1 span.homeicon{
background: url(../images/video.png) 14% 52% no-repeat;
}

#navigation ul li#tab1:hover span.homeicon{
background: url(../images/video-over.png) 14% 52% no-repeat;
}

#navigation ul li#tab2 span.homeicon{
background: url(../images/bombilla.png) 14% 52% no-repeat;
}

#navigation ul li#tab2:hover span.homeicon{
background: url(../images/bombilla-over.png) 14% 52% no-repeat;
}
#navigation ul li#tab3 span.homeicon{
background: url(../images/forum.png) 14% 52% no-repeat;
}

#navigation ul li#tab3:hover span.homeicon{
background: url(../images/forum-over.png) 14% 52% no-repeat;
}

#navigation ul li#tab4 span.homeicon{
background: url(../images/community.png) 14% 52% no-repeat;
}

#navigation ul li#tab4:hover span.homeicon{
background: url(../images/community-over.png) 14% 52% no-repeat;
}

#navigation ul li#tab5 span.homeicon{
background: url(../images/myprofile.png) 14% 52% no-repeat;
}

#navigation ul li#tab5:hover span.homeicon{
background: url(../images/myprofile-over.png) 14% 52% no-repeat;
}

#leftcolumn {
	padding: 0;
	margin: 0;
	width: 20%;
	float:left;
}

#maincolumn,
#maincolumn_full {
	margin-left: 20%;
	padding-left: 15px;
	width: 75%;
}

#maincolumn_full {
	margin-left: 0;
	padding: 0;	
	width: 100%;
}

table.nopad {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

table.nopad td.middle_pad {
	width: 20px;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

span.pathway {
  display: block;
  margin: 0 20px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}

/* headers */
div.componentheading {
  padding-left: 0px;
}

h1 {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #666;
	text-align: left;
	width: 100%;
}

h2, .contentheading {
	padding: 0;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

h3, .componentheading, table.moduletable th, legend {
  margin: 0;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
}

/* small text */
.small {
	font-size: .90em;
	color: #999;
	font-weight: normal;
	text-align: left;
}

.modifydate {
  height: 20px;
  vertical-align: bottom;
	font-size: .90em;
	color: #999;
	font-weight: normal;
	text-align: left;
}

.createdate {
	height: 20px;
	vertical-align: top;
	font-size: .90em;
	color: #999;
	font-weight: normal;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 0px;

}

a.readon {
	margin-top: 10px;
	display: block;
	float: left;
	background: url(../images/mw_readon.png) top right no-repeat;
	padding-right: 20px;
	line-height: 14px;
	height: 16px;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f6f6f6;
}

.ol-background {
	background-color: #666;
}

.ol-textfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.ol-captionfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f6f6f6;
	font-weight: bold;
}
.ol-captionfont a {
	color: #0B55C4;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-left: 5px;
}

a.mainlevel:hover {

}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {
	padding-right: 5px;
}

.column_separator {
	border-left: 1px dashed #e0e0e0;
	padding-left: 10px;
}

td.buttonheading {

}

td.buttonheading img {
	border:none;
}

.clr {
	clear: both;
}

td.greyline {
  width: 20px;
  background: url(../images/mw_line_grey.png) 50% 0 repeat-y;
}

div#maindivider {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  height: 1px;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}

/* edit button */
.contentpaneopen_edit{
	float: left;
}

/* table of contents */
table.contenttoc {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  float: right;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  background: #efefef;
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-right: 1px solid #fff;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
}


/* content styles */
table.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
	width: 100%;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #ddd;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

.highlight {
	background-color: #fffebb;
}

/* module control elements */
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}

div.moduletable, div.module {
  margin-bottom: 25px;
}

div.module_menu h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #eee;
	margin: -23px -4px 5px -5px;
	padding-left: 10px;
	padding-bottom: 2px;
}

div.module_menu {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

div.module_menu div div div {
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 15px;
	width: auto;
}

div.module_menu div div div div {
	background: none;
	padding: 0;
}

div.module_menu ul {
	margin: 10px 0;
	padding-left: 20px;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	font-weight: bold;
}

#leftcolumn div.module {
	padding: 0 10px;
}

#leftcolumn div.module table {
	width: auto;
}

/* forms */
table.adminform textarea {
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

div.search input.button {
	margin: 0 0 0 10px;
}

form#form-login fieldset { border: 0 none; margin: 0em; padding: 0.2em;}
form#form-login ul { padding-left: 20px; }

form#com-form-login fieldset { border: 0 none; margin: 0em; padding: 0.2em;}
form#com-form-login ul { padding-left: 20px; }

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #666; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #666; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	background-color: #F7F7F7;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* WebLinks */
span.description {
	display:block;
	padding-left: 30px;
}

/* Frontend Editing*/


td.key {
	border-bottom:1px solid #eee;
	color: #666;
}

/* Tooltips */

.tool-tip,.custom2-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index:9999;
}



.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message { margin-bottom: 20px; }

#system-message dd.message ul { background: #C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0px; padding-left: 40px; text-indent:0px;}

#syndicate{
	float:left;
	padding-left: 25px;
}

#power_by{
	float:right;
	padding-right: 25px;
}

/* Component Specific Fixes */

#component-contact table td {
	padding: 2px 0;
}



/* language selection */
#langTab{
position:absolute;
z-index:9999;}
.headAccountCont .leftSide,
.headAccountCont .rightSide{float:left;/*background: url(../images/sprite.png) no-repeat scroll 0 0 transparent;*/}

.headAccountCont .leftSide{width:8px;height:30px;background-position:5px 0;}
.headAccountCont .rightSide{width:12px;height:30px;background-position:-3px 0;}

.headAccountCont .centerSide{position:relative;float:left;height:21px;padding:9px 4px 0 4px;/*background: url(../images/headAccountContCenterBgr.gif) repeat-x scroll 0 5px transparent;*/}


.headAccountCont .centerSide ul{margin: 0; padding: 0;}
.headAccountCont .centerSide ul li{list-style: none;}
.headAccountCont .centerSide ul li{color:#cccccc;position:relative;}
.headAccountCont .centerSide ul li span{font-weight:bold;}
.headAccountCont .centerSide ul li span.loginTab{color:#fff;font-weight:bold;cursor:pointer;}

.headAccountCont .centerSide a:link,
.headAccountCont .centerSide a:visited,
.headAccountCont .centerSide a:active{
	/*color:#fff !important;*/
	outline:medium none;
}

.headAccountCont .centerSide a:hover{text-decoration:underline;}


.headAccountCont .centerSide a.stat:link,
.headAccountCont .centerSide a.stat:visited,
.headAccountCont .centerSide a.stat:active{
	color:#fff !important;
	font-weight:bold;
	padding:0 0 0 0;
	background: url(../images/arrow_langs.gif) no-repeat scroll right 6px transparent;
	outline:medium none;
}

.headAccountCont .centerSide a.stat:hover{text-decoration:underline;}

.headAccountCont .centerSide a.openDropBox:link,
.headAccountCont .centerSide a.openDropBox:visited,
.headAccountCont .centerSide a.openDropBox:active,
.headAccountCont .centerSide a.openDropBox:hover{
	background: url(../images/arrowOrangeDown.png) no-repeat scroll right 6px transparent;
}

.headAccountCont .centerSide a.lang:link,
.headAccountCont .centerSide a.lang:visited,
.headAccountCont .centerSide a.lang:active{
	padding:0 0 0 16px;
	background: url(../images/arrow_langs.gif) no-repeat scroll left 6px transparent;
}

.headAccountCont .centerSide a.lang:hover{text-decoration:underline;}

.active{z-index:1003;verflow:hidden;position:relative;}

.active .leftSide{height:35px;background-position:0 -49px;} 
.active .centerSide{height:26px;background: url(../images/other/headAccountContCenterBgrActive.gif) repeat-x scroll 0 0 transparent;} 
.active .rightSide{height:35px;background-position:-8px -49px;}


#loginWrapper, #logoutWrapper,#mod_login_noaccount,#mainlevel,#signup{float: left;}
#mainlevel{
  border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-weight: bold;
    margin: 9px 0 0 84px;
    padding: 0 12px 0 6px;
}
#mainlevel ul li a.mainlevel:link, a.mainlevel:visited{font-weight:bold !important;}
#mainlevel li{list-style:none;}
#mod_login_noaccount{ margin-top:10px;padding:0 25px 0 20px;border-right:1px solid gray;}

#langDropMenu{display:block; 
	/*position:absolute;*/
	top:23px;
	left:1px;
	z-index:9999;}

#langDropMenu li{
	cursor:pointer;
	border-top:1px solid #ebebe9;
	padding:3px 10px 3px 4px;
}
#langDropMenu ul li.grey a span{background-color:#f9f9f8; color: red !important;}
#langDropMenu ul li.hover a span{background-color:#ffffdf;}
#langDropMenu ul li.hover a:link span,
#langDropMenu ul li.hover a:visited span,
#langDropMenu ul li.hover a:active span,
#langDropMenu ul li.hover a:hover span{}

#langDropMenu ul li a:link span,
#langDropMenu ul li a:visited span,
#langDropMenu ul li a:active span{color:#7A7A72 !important;font-weight:normal;text-decoration:none;}
#langDropMenu ul li a:hover span{text-decoration:none;}

#langDropMenu img{margin:0 6px 0 0;}

.openLangMenu p.currentLang{margin:0 4px;}

.openLangMenu .centerSide{
	height:auto;
	background: url(../images/langsBgr1.png) repeat-x scroll 0 0 #FFFFFF;
	padding-left:0;
	padding-right:0;
}

.openLangMenu .leftSide{
	position:relative; 
	background:none;
	background:url(../images/langs_back.png) repeat-y scroll top left transparent;
}

.openLangMenu .rightSide{
	position:relative;
	background:none;
	background:url(../images/langs_back.png) repeat-y scroll top right transparent;
}

.rightSide .topRightCorner,
.rightSide .bottomRightCorner,
.leftSide .topLeftCorner,
.leftSide .bottomLeftCorner{display:none;}


.openLangMenu .rightSide .topRightCorner{
	display:block;
	position:absolute;
	top:0;
	left:0;	
	background:url(../images/topRightCornerBgr.png) no-repeat scroll top right transparent;
	width:12px;
	height:10px;
}

.openLangMenu .leftSide .topLeftCorner{
	display:block;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/topLeftCornerBgr.png) no-repeat scroll top right transparent;
	width:8px;
	height:10px;
}

.openLangMenu .rightSide .bottomRightCorner{
	display:block;
	position:absolute;
	bottom:-13px;
	left:0;	
	background:url(../images/bottomRightCornerBgr.png) no-repeat scroll top right transparent;
	width:12px;
	height:13px;
}

.openLangMenu .leftSide .bottomLeftCorner{
	display:block;
	position:absolute;
	bottom:-13px;
	left:0;
	background:url(../images/bottomLeftCornerBgr.png) no-repeat scroll top right transparent;
	width:8px;
	height:13px;
}

#langDropMenu .closeShadow{
	background:url(../images/bottomCenterBgr.png) repeat-x scroll top right transparent;
	position:absolute;
	left:0;
	bottom:-9px;
	_bottom:-13px;
	width:114px;
	height:9px;
}
#login #rang{z-index:1001;}
#login #lang{
	width:auto !important;
	padding: 0 !important;
	background:none;
	z-index:1001;
}

#login #lang p{
	padding-right:24px;
}

#login #lang img {
	position:absolute;
	right:0;
	top:2px;
}

#login #lang:hover {background:none;}
#login #lang:hover img { top:2px; right:0;}
/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:left;
    font-size:12px;
    margin: 0 0 0 5px;
}

/* Login Button */
#loginButton { 
    display:inline-block; 
    border:1px solid #fff; 
    /*border-radius:3px;
    -moz-border-radius:3px;*/
    border-top:none;
    position:relative;
    z-index:30;
    cursor:pointer;
}



/* Login Button Text */
#loginButton span {
    text-shadow:1px 1px #fff; 
    padding: 10px 36px 2px 12px;
    background:url(../images/loginArrow.png) no-repeat 53px 7px;
    display:block;
    color:#1188AA;
}

#loginButton:hover {
	color:red !important;
    text-decoration:underline;
}

#loginButton:hover span{
	color:red !important;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:30px;
    right:0;
    display:none;
    z-index:10000;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border:1px solid #899caa; 
    /*border-radius:3px;
    -moz-border-radius:3px;*/
    border-top:none;
    background: none repeat scroll 0 0 #D2E0EA;
    
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#mod_loginform {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#mod_loginform fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#mod_loginform #mod_login_remember {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#mod_loginform #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#mod_loginform input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#mod_loginform #login, input.button {
    width:auto;
    float:left;
    background:red url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #b54d4d;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    border:1px solid #b54d4d;
    border-radius:3px;
    -moz-border-radius:3px;
    font-weight: bold;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
    
}
input.button {padding: 2px 6px 4px;}

/* Forgot your password */
#mod_loginform span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#mod_loginform span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

a.basic {
	display: inline !important; 
	background: none !important; 
	color: #73736b !important; 
	text-decoration: underline !important;
	font-size: 14px !important; 
	font-weight: normal !important;
}

a.basic:hover { text-decoration: none !important	; color: #000 !important; }
#signup{width:59px; }
#topNavBar{margin:0 20px 0 0;
min-width:200px; float:right;}


/*  withoutMUsic */
#withoutMusic{ float:left;margin: 30px 0 23px 34%;}
#withoutMusic blockquote {
	background:url("../images/quotes1.png") no-repeat scroll 0 2px transparent;
margin:-0 auto 0;}

#withoutMusic blockquote p {
	line-height: 1.8;
	margin: 0 0 0 34px;
	display: inline;
	font-weight:bold;
	padding-right: 24px;
	background: url(../images/quotes2.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

#explainLink {
	margin: 0 auto;
	font-size: x-small;
	text-align: left;
	color: #666;
	text-align: right;
}


#search dl {
		width: 400px;
		margin: 0 0 20px -13px;
		padding: 0;
		background: #ccc url(../images/box_bottom.gif) no-repeat bottom left;
		}

#search	dt {
		margin: 0;
		padding: 10px;
		font-size: 130%;
		background: #ccc url(../images/box_top.gif) no-repeat top left;
		}
	
#search	dd {
		margin: 0 0 0 15px;
		padding: 0 0 10px 0;
		color: #666;
		font-family: Verdana, sans-serif;
		font-size: 85%;
		}
	
#search	#blue, #blue dt {
		background-color: #e8f3f6;
		}


#homepromo{padding:5px; text-align:center !important;}
#tagsCloud{height:192px;text-align:center !important;margin-top:20px;}

#mod_login_greeting{float: left;
    margin: 9px 12px 0;}
#logout form div{
text-align: center; float: left; margin: 5px 0 0 2px;
}    
#logout{float:left;}

#randonvideodescrip {
background: url(../images/video_description.gif) no-repeat bottom left;
padding:20px 0 0 40px;
}

#randonvideoautor{padding:12px 0 12px 40px;}
.ui-tabs .ui-tabs-nav li { font-size:90%;}
#topNavBar li a span { font-weight:bold;}
.zncbmimg {
	margin: 4px;
}
.listfavoured{
	background: url("../images/favorite.png") no-repeat scroll left bottom transparent;
    height: 14px;
    width: 27px;}
.cbLogoutButtonSpan{display:none;}
#backtotop{
 background: url("../images/arrow_top.gif") no-repeat scroll left 63% transparent;
    border-right: 1px solid #CCCCCC;
    float: left;
    margin: 0 12px 0 0;
    padding: 0 12px;
}
.introtext{
background: url("../images/info.png") no-repeat scroll 5px 5px transparent;
    padding: 9px 5px 0 35px;
}
.promotext{
   padding: 0 0 5px 0;
}
#donatebutton{float:right;	}
#addTop{margin: 0 0 0 25%;	}

#legalcopy{padding: 0 0 12px 0;}
#twitter_update_list {
margin: 0 0 0 -12px;
}

span.jcl_date{float:right;margin-bottom: 6px;}
ul.jclist li {margin-bottom:6px;border-bottom:1px solid #ccc;}
#tabs,#whitebox,#comments-tabs,#tabs-tags {margin-bottom:18px;}
#videoTitle{}
#videoTitle div div.titleText{width:488px;font-size:1.5em; color:red;line-height:1em;}
#videoTitle div div.right{}
#infocontext{padding-left:20px;}
#infocontext div{background:#E1DFDF; padding:6px; margin-bottom:12px;}
#infocontext div span{color:red;}
#videouploadwrap{padding:10px 0 0 0;}
#videouploadwrap ul{ list-style:none; margin:0;padding:0;}
#videouploadwrap ul li{margin:0 12px 16px 12px;padding: 6px 20px 6px 6px;}
#videouploadwrap ul li.active{ background:#FFEFBA;}
#videouploadwrap #twooptions{color:#7F7F7F; margin-top:12px;margin-bottom:30px;}
#videouploadwrap div div ul{margin:0;list-style:cjk-ideographic outside none !important;}
#videouploadwrap div div ul li{margin:0;padding: 0;}
#uploadlegal ul{list-style-type: square; color:red;}
#videodetailswrap{padding:12px;}
#videodetailswrap div{}
#videodetailswrap div div{float:left;}
.fieldexplanation{display: inline-block;margin: 6px 0 0 36%;}
#hwdCaptchaPic{margin:12px 0 0 0;}
li.upoptions{ 
	padding:6px;
	background:#F0F0F0;
	border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px #AAAAAA;}
#wysigyginfovideo{
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:90%;
    margin: 5px 0 5px 15px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;}
.videohelptext{clear:both;margin: 6px 0 6px 31.5%;color:#7F7F7F;}
.videoinfolabel{width:30%;text-align:right !important;font-weight:bold;margin-right: 12px;margin-top: 6px;}
.headerText{font-size:1.5em;font-weight:bold;color:#000;}
.boldred{font-weight:bold;color:red;}
.fontbold{ font-weight:bold;}
.fnormal{font-weight:normal !important;}
.fontred{color:red;}
.dispnon{display:none;}
.fnone{float:none !important;}
.tcenter{text-align:center !important;}
.h250{height:250px !important;}
.f100{font-size:100%;}
.f120{font-size:120%;}
.f80{font-size:80%;}
.f15em{font-size:1.5em;}
.tblack{color:#000;}
.h150{height:150px !important;}
.mtop12{margin-top:12px;}
.mtop24{margin-top:24px;}
.mbot12{margin-bottom:12px;}
.mbot6{margin-bottom:6px;}
.mleft6{margin-left:6px;}
.mright6{margin-right:6px;}
.ml35pt{margin-left:35%;}
.fleft{float:left;}
.fright{float:right;}
.clear{clear:both;}
.tright{text-align:right !important;}
.w40{width:40%;}
.w60{width:60%;}
.w70{width:70%;}
.inputtextmed{width:40%;}
.nonvis{visibility:hidden;}
.dispnon{display:none;}
/* form validation */
.invalid { border-color: #ff0000 !important; background:#c1c1c1 !important;}
label.invalid { color: #ff0000 !important; }
#canesWrap{float:right;}
.canes{width:33px;height:64px;float:left;}
.youtubeCan{background: url("../../../modules/mod_socialmedialinks/icons/drink/size3/youtube.png") no-repeat scroll 0 0 transparent;}
.googleCan{background: url("../../../modules/mod_socialmedialinks/icons/drink/size3/google.png") no-repeat scroll 0 0 transparent;}



#contentSliderForm{
    margin:15px auto;
    text-align:center;
    width:650px;
    position:relative;
    height:100%;
}
#wrapperSliderForm{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:650px;
    overflow:hidden;
}
#steps{
    width:650px;
	/*height:320px;*/
    overflow:hidden;
}
.step{
    float:left;
    width:650px;
	/*height:320px;*/
}
#navigations{
    height:67px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#navigations ul{
    list-style:none;
	float:left;
	margin-left:22px;
}
#navigations ul li{
	float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
	margin:0px 2px;
}
#navigations ul li a{
    display:block;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:0px 20px;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )
}
#navigations ul li a:hover,
#navigations ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
    margin: 0 !important;
    margin-top: 15px;
    padding: 0 !important;
    padding-bottom:20px;
}
#steps form legend{
    text-align:left;
    background-color:#f0f0f0;
    color:red;
    font-size:1.3em;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    float:left;
    width:640px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}
#steps form p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:90%;
    margin: 5px 0 5px 15px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
#steps form #wysigyginfovideo label, #steps form p label{
    width: 33%;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 250px;
}
#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button {
	border:none;
	outline:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-size:22px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:red;
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

span.reference{
            position:fixed;
            left:5px;
            top:5px;
            font-size:10px;
            text-shadow:1px 1px 1px #fff;
        }
span.reference a{
	color:#555;
	text-decoration:none;
	text-transform:uppercase;
}
span.reference a:hover{
	color:#000;
	
}

.shigaruinfo{
    border: 1px solid;
    margin: 0 0 10px 0;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    position:relative;
    border-color: #FFBF00;
    background-image: url('../images/info.png');
    border-radius:1em;
    -moz-border-radius:1em;
 	-webkit-border-radius:1em;
}
